.freelance-profil-header {
  .header-content {
    .disponibility-circle {
      width: 15px;
      height: 15px;
    }

    @media screen and (min-width: 1800px) {
      .profil-img-container {
        width: 220px;
      }

      width: 1600px;
    }
  }
}

.freelance-profil-navbar {
  font-size: 23px;
  height: 100px;
  background: linear-gradient(
    267.92deg,
    #7d17ff 1.89%,
    rgba(100, 201, 255, 0.95) 154.62%
  );
}

.freelance-profil-content {
  hr {
    height: 20px;
  }

  .add-btn {
    transform: translateY(-100%);
  }
}
