.qui-sommes-nous {
    
    background: linear-gradient(229.57deg, #7D17FF 29%, #64C9FF 88.38%);
   

    .content {
        margin-top: -100px;
        padding: 150px 0 100px 0;
    }

    ul {
        li{
            list-style-type: disc !important;
        }
    }
}