html,
body,
::after,
::before {
  padding: 0;
  margin: 0;
}

a,
li {
  color: inherit !important;
  text-decoration: none !important;
  list-style-type: none !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto500";
  src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto700";
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto300";
  src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "raleway700";
  src: url("../assets/fonts/raleway/static/Raleway-Bold.ttf");
}
@font-face {
  font-family: "roboto400";
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "raleway500";
  src: url("../assets/fonts/raleway/static/Raleway-Medium.ttf");
}
@font-face {
  font-family: "raleway600italic";
  src: url("../assets/fonts/raleway/static/Raleway-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "raleway400";
  src: url("../assets/fonts/raleway/static/Raleway-Regular.ttf");
}
.roboto400 {
  font-family: "roboto400";
}

.roboto300 {
  font-family: "roboto300";
}

.roboto500 {
  font-family: "roboto500";
}

.roboto700 {
  font-family: "roboto700";
}

.raleway700 {
  font-family: "raleway700";
}

.raleway400 {
  font-family: "raleway400";
}

.raleway500 {
  font-family: "raleway500";
}

.raleway600italic {
  font-family: "raleway600italic";
}

.background-pink {
  background: #e0c3fc;
}

.background-paleviolet {
  background: #9e76fe;
}

.background-palepink {
  background: #f6edff;
}

.background-palegreen {
  background: #d6f2f4;
}

.background-yellow {
  background: #ffc700;
}

.background-palegrey {
  background: #dee2e6;
}

.background-paleblue {
  background: #f8fdff;
}

.background-button-green {
  background: #00daa7;
}

.background-violet {
  background: #7d17ff;
  transition: 0.3s;
}

.background-white {
  background: white;
}

.background-transparent {
  background: transparent;
  transition: 0.3s;
}

.background-blue {
  background: #0085ff;
}

.background-pale-grey {
  color: #dee2e6;
}

.background-grey {
  background: #d9d9d9;
}

.border-color-pale-violet {
  border-color: #9e76fe !important;
}

.green {
  color: green !important;
}

.red {
  color: red !important;
}
.dark-red {
  color: #fe0102;
}

.danger-red {
  color: #dc3545;
}

.blue-link {
  color: #2400ff;
}

.red {
  color: #f25c63;
}

.black {
  color: #030f1a;
}

.blue {
  color: #0085ff;
}

.white {
  color: white;
}

.violet {
  color: #7d17ff;
}

.yellow {
  color: #ffc700;
}

a {
  text-decoration: none;
}

.cover {
  object-fit: cover;
}

.zindex-1 {
  z-index: -1;
}

.zindex-2 {
  z-index: -2;
}

.zindex5 {
  z-index: 5;
}

.zindex1 {
  z-index: 1;
}

.zindex10 {
  z-index: 10;
}

.radius20 {
  border-radius: 20px;
}

.radius25 {
  border-radius: 25px;
}

.radius25-top {
  border-radius: 25px 25px 0 0;
}

.radius25-bottom {
  border-radius: 0 0 25px 25px;
}

.principal-navbar {
  height: 100px;
  font-size: 23px;
  width: 100%;
  z-index: 10;
}
.principal-navbar .bars-solid {
  flex-direction: column;
  cursor: pointer;
  row-gap: 12px;
  vertical-align: middle;
  justify-content: center;
}
.principal-navbar .bars-solid div {
  width: 60px;
  height: 6px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s;
}
.principal-navbar .bars-solid div:nth-child(1) {
  animation: bar1RevAnim 0.3s ease-in-out forwards;
}
.principal-navbar .bars-solid div:nth-child(3) {
  animation: bar3RevAnim 0.3s ease-in-out forwards;
}
.principal-navbar .bars-solid.active div:nth-child(2) {
  transform: scale(0);
}
.principal-navbar .bars-solid.active div:nth-child(1) {
  animation: bar1Anim 0.3s ease-in-out forwards;
}
.principal-navbar .bars-solid.active div:nth-child(3) {
  animation: bar3Anim 0.3s ease-in-out forwards;
}
.principal-navbar .mobile-ul-style {
  position: fixed;
  top: 100px;
  background-color: #7d17ff;
  margin: 0;
  left: -100%;
  transition: all 0.3s;
}
.principal-navbar .mobile-ul-style.active {
  left: 0;
}

/*animations*/
@keyframes bar1Anim {
  100% {
    transform: translateY(24px) rotateZ(45deg);
  }
}
@keyframes bar3Anim {
  100% {
    transform: translateY(-12px) rotateZ(135deg);
  }
}
@keyframes bar1RevAnim {
  0% {
    transform: translateY(24px) rotateZ(45deg);
  }
  50% {
    transform: translateY(12px) rotateZ(22deg);
  }
  100% {
    transform: translateY(0) rotateZ(0);
  }
}
@keyframes bar3RevAnim {
  0% {
    transform: translateY(-12px) rotateZ(135deg);
  }
  50% {
    transform: translateY(-6px) rotateZ(67deg);
  }
  100% {
    transform: translateY(0) rotateZ(0);
  }
}
.home-header {
  background: linear-gradient(to bottom left, #7d17ff, #64c9ff);
  min-height: 400px;
  padding: 300px 0 200px 0;
  margin-top: -100px;
  box-shadow: 0px 20px 30px 0px rgba(3, 15, 26, 0.2);
  z-index: 5;
  position: relative;
}

.thibault-presentation .presentation-paragraph {
  padding-top: 35%;
  line-height: 1.8rem;
}
.thibault-presentation .presentation-photo {
  padding-top: 13%;
}
@media screen and (max-width: 768px) {
  .thibault-presentation {
    background: #f8fdff;
  }
  .thibault-presentation .presentation-paragraph {
    padding-top: 5%;
  }
}
@media screen and (min-width: 1150px) {
  .thibault-presentation .presentation-paragraph {
    line-height: 2.2rem;
    font-size: 1.4rem;
    padding-top: 45%;
  }
}
@media screen and (min-width: 2150px) {
  .thibault-presentation .presentation-paragraph {
    line-height: 4rem;
    font-size: 2rem;
    padding-top: 40%;
  }
}

.connect-signup-login {
  min-height: 100vh;
}
.connect-signup-login .connect-logo {
  height: 100px;
  background-color: transparent;
  z-index: 10;
  font-size: 23px;
}
.connect-signup-login .connect-nav {
  height: 100px;
  font-size: 23px;
  background-color: transparent;
  z-index: 10;
}
.connect-signup-login .form-part {
  padding-bottom: 10vh;
  background: linear-gradient(to bottom left, #98cdde, #3ca3ba);
  box-shadow: 0px 20px 30px rgba(3, 15, 26, 0.2);
}
.connect-signup-login .form-title {
  padding-top: 15vh;
}
@media screen and (max-width: 992px) {
  .connect-signup-login .form-title {
    padding-top: 3%;
  }
}

.freelance-profil-header .header-content .disponibility-circle {
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 1800px) {
  .freelance-profil-header .header-content {
    width: 1600px;
  }
  .freelance-profil-header .header-content .profil-img-container {
    width: 220px;
  }
}

.freelance-profil-navbar {
  font-size: 23px;
  height: 100px;
  background: linear-gradient(
    267.92deg,
    #7d17ff 1.89%,
    rgba(100, 201, 255, 0.95) 154.62%
  );
}

.freelance-profil-content hr {
  height: 20px;
}
.freelance-profil-content .add-btn {
  transform: translateY(-100%);
}

.qui-sommes-nous {
  background: linear-gradient(229.57deg, #7d17ff 29%, #64c9ff 88.38%);
}
.qui-sommes-nous .content {
  margin-top: -100px;
  padding: 150px 0 100px 0;
}
.qui-sommes-nous ul li {
  list-style-type: disc !important;
}

.abonnements-freelance {
  background: linear-gradient(229.57deg, #7d17ff 29%, #64c9ff 88.38%);
}
.abonnements-freelance .content {
  margin-top: -100px;
  padding: 150px 0 100px 0;
}
.abonnements-freelance .content .btn-abonnements {
  font-size: 14px;
}

.mentions-legales {
  background: linear-gradient(229.57deg, #7d17ff 29%, #64c9ff 88.38%);
}
.mentions-legales .content {
  margin-top: -100px;
  padding: 150px 0 100px 0;
}

/*# sourceMappingURL=style.css.map */
